@font-face
{
	font-family: myFont;
	src: url(../fonts/Walkway.ttf);
}
body 
{
 font-family:myFont;
 padding-top:2%;
 text-align:center;
 height:100%;
 color:white;
 font-size:2em;
}
input
{
 font-size:1em;
 width:200px;
}
#submitBtn
{
  position:absolute;
  bottom:0;
  left:0;
  margin:0px;
  padding-top:.5em;
  padding-bottom:.5em;
  width:100%;
  //border-top:solid black 3px;
  color:white;
  //background:cyan;
}
.blueBackground
{
	background:#15317E;
}
.whiteBorder
{
	font-family:myFont;
	border-color: white;
	color:#FFF5EE;
	margin-top: 1%;
	font-style: italic;
}